--extra-index-url https://download.pytorch.org/whl/cu128

torch
langchain
langchain-community
langchain-text-splitters
langchain-chroma
langchain-huggingface
transformers
sentence-transformers
accelerate
bitsandbytes
python-dotenv
pypdf
requests
tiktoken
notebook
ipykernel
huggingface_hub[hf_xet]
ipywidgets
chromadb
fastapi
uvicorn
fastapi[users]
streamlit

-e .
